script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
script(type='text/javascript', src='/assets/bs/js/bootstrap.js')
script(type='text/javascript', src='/assets/ss/closure-library/closure/goog/base.js')
script(type='text/javascript', src='/assets/ss/lib/deps-superstartup.js')
script(type='text/javascript', src='/assets/js/deps-showcase.js')
script
  goog.require('showcase');
